/* nav section start */
nav{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;
    display: flex;
    justify-content: space-between;
    
    
}
.nt{
    background-image: linear-gradient(to bottom,#FF42A5 0%,#FF42A5 100%);
      color: transparent;
      -webkit-background-clip: text;
}
.nav-title{
    padding-left: 100px;
    display: flex;
    margin-bottom: 50px;
}
.items{
    margin: 20px;
    display: flex;
}
.item{
    margin: 20px;
    list-style: none;
    padding-right: 30px;
}
.item a{
    text-decoration: none;
    color: black;
}
.nav-pic{
    margin-top: 25px;
    width: 50px;
    height: 50px;
}
.nav-text{
    font-size: 40px;
}
/* nav section end */
/* banner section start */
.banner-container{
    display: flex;
    gap: 250px;
}
.pic1{
    padding-left: 200px;
    width: 500px;
}
.ban-text{
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-text{
    margin-top: 50px;
    margin-left: 70px;
    background-image: url("images/Group 14.png"), linear-gradient(rgba(241, 68, 174, 0.03) 100%);
}
.btn1{
background-image: linear-gradient(to bottom,#FF42A5 0%,#FF42A5 100%);
border: none;
    padding: 10px;
    color: #FFF;
    border-radius: 48px;
}
.btn2{
    border: none;
    padding: 10px;
    color: #FFF;
    border-radius: 48px;
background: #4EC5F7;
}
/* banner section end */

/* main section start */
.maint1{
    background-image: linear-gradient(to bottom, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}



.card-container{
    margin-top: 30px;
    display: flex;
}
.img{
    padding-left: 80px;
}


.pic{
    width: 200px;
}
.main-text{
    text-align: center;
}
.main-play{
    display: flex;
}
.cartoon{
    display: flex;
    gap: 100px;
}
.text{
    margin-top: 100px;
    padding-left: 250px;
    text-align: center;
}
.pic2{
    width: 350px;
    padding-left: 110px;
}
.cartoon-text{
    background-image: linear-gradient(to bottom,#FF42A5 0%,#FF42A5 100%);
      color: transparent;
      -webkit-background-clip: text;
}
.cartoon-pic-badge{
position: relative;
bottom: 140px;
}
.pic3{
    
    width: 200px;
    height: 200px;
}
.cards{
    margin-top: 80px;
    padding-left: 90px;
    display: flex;
    gap: 50px ;
    flex-wrap: wrap;
}
.card{
    border-radius: 50px;
background: #FFF;
    display: flex;
}
.card:hover{
    border: 2px solid blue;
    border-radius: 20px;
}
.card1{
    border: 2px solid #F948B2;
    border-radius: 30px;
}
.p3{
    color: #F948B2;
}


/* main section end */

.footer-text{
    
    display: flex;
    padding-top: 100px;
    padding-left: 250px;
    gap: 60px;
    

}
footer{
    margin-top: 90px;
    background: #0B0223;
    height: 400px;
    gap: 60px;
    color: white;
}
.ft{
    color: gray;
    margin-top: 20px;
    display: flex;
    padding-top: 100px;
    padding-left: 250px;
    gap: 60px;
}
.footer-pic{
    margin-top: 25px;
    width: 50px;
    height: 50px;
}
.footer-title{
    font-size: 40px;
}
.footer-part{
    display: flex;
    padding-left: 550px;
}
